h1 {
    text-align:center;
    font-family: sans-serif;
    margin: 50px;
}

.extensionName{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

p{
    text-align: center;
    font-family: sans-serif;
}

.button-container {
    text-align: center; 
}

.buttons {
    display: inline-block;
    width: 15%;
    padding: 15px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #473335;
}

.buttons:hover{
    background-color:#f1f1f1;
    cursor:pointer;
}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    width: 100px;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #473335;
}

.back:hover{
    background-color:#f1f1f1;
    cursor:pointer;
}